@media(max-width: 1000px) {
    .notification {
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }

    video {
        height: 157vh;
    }

    .btn-light {
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
        gap: 5px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 5px;
    }

    li a:hover {
        background: none;
        color: #eee;
        border-radius: 0;
    }

    .content2 {
        width: 100%;
    }
}